.Layout {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 15% 80% 5%;
    grid-template-columns: repeat(6, 1fr);
    
    border: 1px solid black;
    }
    
    header {
    grid-column: span 6;
    border: inherit;
    }
    
    aside {
    grid-column: span 1;
    border: inherit;
    }
    
    main {
    grid-column: span 5;
    border: inherit;
    overflow: auto;
    }
    
    footer {
    grid-column: span 6;
    border: inherit;
    }