.Register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.Box {
    width: 400px;
    padding: 20px;
    background-color: #7375ab;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #411f9e;
}

label {
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

input[type="text"], input[type="password"] {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
}

p {
    color: red;
    margin: 5px 0;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #411f9e;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6147c1;
}
